<!DOCTYPE html>

<html>

<head>
</head>

<body>
   <h1>{{name}}</h1>

   <form>
        {{>header}}
       <input placeholder="Location">
       <button>Search</button>
       

       <p id="test-1"></p>
   </form>



    <script src="/js/app.js"></script>
</body>


</html>